body {
  margin: 0px;
}

h1 {
  text-transform: uppercase;
  margin: 0px;
}

h2 {
  font-weight: 200;
}

hr {
  width: 80px;
  height: 2px;
  background-color: white;
  color: white;
}

p {
  margin: 0px;
}

input:focus {
  outline: 0;
  border-bottom-color: #5E33D1;
  border-bottom-width: 7px;
}  

select {
  margin-top: 1vw;
  width: 100%;
  height: 3.8vw;
}

form {
  margin: 3vw 0;
}

.App {
  text-align: left;
  color: white;
  font-family: "HelveticaNeue-Bold";
}

.btn {
  background-color: #D34849;
  text-transform: uppercase;
  color: white;
  border-radius: 40px;
}

.carousel {
  z-index: -1;
  grid-column: 1;
  grid-row: 1;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-horizontal {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.circle {
  border-radius: 100%;
  position: absolute;
  top: -180px;
  left: -100px;
  transition: width 0.3s, height 0.3s;
  background-color: #191919;
}

.copyright {
  font-size: 1.3vw;
  font-family: "HelveticaNeue";
  letter-spacing: .13vw;
}

.cta {
  background-color: white;
  position: relative;
  left: 70vw;
  bottom: 2vw;
  width: 13vw;
  height: 3.2vw;
}

.demo-button {
  background-color: white;
  border-radius: 40px;
  font-size: 1.2vw;
  letter-spacing: .12vw;
  width: 17.6vw;
  height: 4.2vw;
  border: none;
}

.download-title {
  color:#D34848;
}

.download-subtitle {
  letter-spacing: .26vw;
  color: white;
  font-size: 2.6vw;
  font-family: "HelveticaNeue";
}

.email {
  position: relative;
  width: 50vw;
}
.email-address {
  font-size: 1.8vw;
  letter-spacing: .18vw;
  font-family: "HelveticaNeue";
  display: inline-block;
  margin-top: 9.4vw ;
  text-align: left;
}

.email-icon {
  font-size: 24px;
  margin-right: 10px;
}

.front-row {
  color: #FFB33F;
}

.front-row-content {
  margin-top: 10vw;
}

.grad-btn {
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 44%, #D34848 74%, #FFB33F 100%) 0% 0% no-repeat padding-box;
  color: white;
  border: none;
  display: block;
  width: 300px;
  height: 80px;
  border-radius: 79px;
  font-size: 26px;
}

.grad {
  background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 44%, #D34848 74%, #FFB33F 100%) 0% 0% no-repeat padding-box;
}

.hamburger-line {
  width: 56px;
  height: 5px;
  background-color: white;
  margin: 10px 0;
}

.hamburger-menu {
  display: inline-block;
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 1;
  background-color: transparent;
  border: none;
}

.hamburger-button {
  background-color: transparent;
  border: none;
  z-index: 1;
}

.hero-button {
  width: 15vw;
  height: 4.1vw;
  font-size: 1.1vw;
  position: relative;
  left: 42.5vw;
}

.hero-contents {
  grid-column: 1;
  grid-row: 1;
  margin-top: 38vh;
}

.hero-subtitle {
  font-family: "HelveticaNeue";
  text-align: center;
  font-size: 1.6vw;
  letter-spacing: .16vw;
  padding: 2vw 28vw 2vw 27vw;
  font-size: 1.7vw;
}


.hero-title {
  text-align: center;
  font-size: 3.3vw;
  letter-spacing: 0.33vw;
}

.indicator {
  border: 1px solid white;
  border-radius: 50%;
  height: 1vw;
  width: 1vw;
}

.indicator-button {
  background-color: transparent;
  border: none;
  width: 1vw;
  padding: 0;
  margin: .5vw;
}

.indicator-row {
  width: 6vw;
  position: relative;
  left: 47.5vw;
  top: 10vw;
}

.landing-title {
  letter-spacing: .39vw;
  font-size: 3.9vw;
}

.landing-subtitle {
  letter-spacing: .27vw;
  color: black;
  padding: 20px 0px;
  font-size: 2.7vw;
  font-family: "HelveticaNeue";
}

.line {
  width: 5vw;
  height: 2px;
  margin: 1vw 0;
}

.link {
  color:#5E33D1;
  font-family: "HelveticaNeue-Bold";
}

.logo {
  font-size: 2.5vw;
  font-family: "HelveticaNeue";
  letter-spacing: .25vw;
  margin: 5vw 0 2vw;
}

.menu-item {
  margin: 10px 0;
  background-color: transparent;
  border: none;
  padding: 0;
  display: block;
  transition: visibility 0.5s, color .5s;
  letter-spacing: 4.7px;
  z-index: 1;
}

.menu-items {
  position: absolute;
  top: 120px;
  left: 50px;
  font-size: 47px;
  letter-spacing: 4.7px;
  z-index: 1;
}

.navigation-bar {
  background-color: transparent;
  height: 100px;
  z-index: 1;
}

.navbar-brand {
  color: white;
  font-size: 48px;
  letter-spacing: 3.6px;
  font-family: "HelveticaNeue";
  z-index: 1;
  padding: 0;
  position: absolute;
  left: 150px;
  top: 41px;
}

.navbar-toggler {
  color: white;
}

.parent {
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  max-width: 100%;
  scroll-snap-stop: always;
  overflow-y: scroll;
}

.payment-page-button {
  width: 11vw;
  height: 3.1vw;
  text-transform: uppercase;
  font-size: 1vw;
  letter-spacing: .1vw;
}

.payment-step {
  font-family: "HelveticaNeue";
  font-size: 2.3vw;
  letter-spacing: 0.23vw;
  margin: 1vw 0;
}

.perk-card {
  padding-right: 4vw;
}

.perk-description {
  color: black;
  font-size: 1.8vw;
  letter-spacing: .18vw;
  font-family: "HelveticaNeue";
}

.perks-navbar {
  background-color: #D34849;
  color: white;
  padding: 2% 3%;
}

.perks-row {
  margin-top: 2vw;
}

.perks-section-title {
  margin-top: 3vw;
}

.perk-title {
  text-transform: capitalize;
  font-size: 2.6vw;
  letter-spacing: .26vw;
  word-spacing: 300px; 
}

.plan-button {
  width: 17vw;
  height: 4.3vw;
  font-size: 1.2vw;
  letter-spacing: .12vw;
}

.plan-card {
  padding: 40px 16px;
}

.plan-details {
  padding: 15px 0px;
  font-size: 2.4vw;
  letter-spacing: .24vw;
  font-family: "HelveticaNeue";
}

.plan-name {
  text-transform: uppercase;
  font-size: 2.2vw;
  letter-spacing: .22vw;
}

.plan-price {
  font-size: 7vw;
  letter-spacing: .7vw;
}

.plan-select {
  text-transform: uppercase;
  font-size: 1.9vw;
  letter-spacing: .19vw;
  display: inline;
  margin-left: 1vw;
}

.plan-term {
  text-transform: uppercase;
  font-size: 2.4vw;
  letter-spacing: .24vw;
}

.pricing-row {
  margin: 10vw 0 0;
}

.pricing-subtitle {
  font-family: "HelveticaNeue";
  font-size: 2.6vw;
  letter-spacing: .26vw;
  line-height: 70px;
}

.radio {
  height: 1.5vw;
  width: 1.5vw;
}

.reveal {
  z-index: 1;
  width: 10vw;
  height: 10vw;
  background: url("../src/assets/reveal_image.png")  50% no-repeat fixed;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.review-btn {
  color: #1FE1E9;
}

.review-body {
  margin-top: 3vw;
  margin-left: 3vw;
}

.review-name {
  text-transform: uppercase;
  letter-spacing: .18vw;
  font-size: 1.8vw;
}

.review-row {
  margin-top: 2vw;
}

.review-text {
  color: black;
  font-family: "HelveticaNeue";
  letter-spacing: .18vw;
  font-size: 1.8vw;
}

.reviews-content {
  padding: 5%;
}

.section-title {
  font-size: 3.8vw;
  letter-spacing: 0.38vw;
  padding: 20px 0px;
}

.select-plan {
  margin: 5% 0%;
}

.speaker-button {
  background-color: transparent;
  border: none;
}

.speaker-superior-one {
  width: 15vw;
  margin-bottom: 120px;
}

.speaker-superior-two {
  width: 15vw;
  margin-top: 120px;
}

.speaker-pair {
  width: 30vw;
  position: relative;
  right: 9vw;
  top: 4vw;
}

.star-icon {
  color: black;
  font-size: 1.5vw;
  letter-spacing: .15vw;
  margin: 20px 5px 20px 0px;
}

.superior-sound {
  color: #D34849;
}

.superior-sound-text {
  margin-top: 15vw;
}

.superior-sound-speakers {
  margin-top: 10vw;
}

.terms-of-service {
  margin: 5vw 0 2vw;
  font: normal normal normal 1.1vw Helvetica;
  letter-spacing: 0.11vw;
  line-height: 2;
}

.textfield {
  width: 100%;
  height: 3.8vw;
  margin-top: 1vw;
}

.textfield-label {
  display: block;
  letter-spacing: .11vw;
  text-transform: uppercase;
  font: normal normal bold 1.1vw Helvetica;
  margin-top: 1vw;
}

.try-it-button {
  height: 5.2vw;
  width: 18vw;
  font-size: 1.5vw;
  letter-spacing: .15vw;
  margin-top: 3vw;
}

#contact-section {
  background-color: #5E33D1;
  padding: 5% 10%;
}

#download {
  scroll-snap-align: start;
  background-color: #191919;
  height: 60vh;
  padding: 10%;
}

#footer {
  background-color: #5E33D1;
  text-align: center;
  height: 28vw;
}

#front-row-seats {
  scroll-snap-align: start;
  background-color: #FFB33F;
  height: 100vh;
  padding: 5% 10%;
}

#header {
  position: fixed;
  width: 100%;
}

#hero-carousel {
  width: 100vw;
  height: 100vh;
}

#hero-section {
  scroll-snap-align: start;
  display: grid;
  height: 100vh;
  text-shadow: 0 0 30px #191919;
}

#landing-page {
  scroll-snap-type: y mandatory;
}

#landing-perks {
  scroll-snap-align: start;
  background-color: #191919;
  height: 100vh;
  padding: 5% 10%;
}

#payment-page {
  color: black;
  padding: 10%;
}

#pricing-section {
  background-color: #191919;
  padding: 15% 10%;
}

#perks-section {
  background-color: #D34849;
  padding: 10%;
}

#reveal-one {
  width: 18vw;
  height: 18vw;
  top: 4vw;
  left: 9vw;
}

#reveal-two {
  width: 30vw;
  height: 30vw;
  right: 7vw;
  bottom: 3vw;
}

#reveal-three {
  width: 35vw;
  height: 35vw;
  left: 30vw;
  top: 2vw;
}

#reviews {
  scroll-snap-align: start;
  background-color: #1FE1E9;
  height: 100vh;
  padding: 5% 10%;
}

#superior-sound {
  scroll-snap-align: start;
  height: 100vh;
  background-color: #D34849;
  padding: 5% 10%;
}


@font-face{
  font-family: "HelveticaNeue-Bold";
  src: url('fonts/HelveticaNeue-Bold.ttf'),
}

@font-face{
  font-family: "HelveticaNeue-Regular";
  src: url('fonts/HelveticaNeue.ttf'),
}
